<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <%= @size.split('-').map(&:capitalize).join(' ') %> <%= @orientation.capitalize %> <%= @style %> <%= @rigor.capitalize %>
    </title>

    <link rel="stylesheet" href="../src/true-paper.css">
    <style>
      @page { size: <%= @dimensions %> }
    </style>
  </head>
  <body class="<%= @size %> <%= @orientation %> <%= @rigor %>">
    <%- @count.times do |index| -%>
    <section class="sheet padding-10mm">
      <div class="debug"></div>
      <%= @size.split('-').map(&:capitalize).join(' ') %> <%= @orientation.capitalize %> <%= @style %> <%= @rigor.capitalize %> <%= index + 1 %>
    </section>
    <%- end -%>
  </body>
</html>
