@use "sass:map";

// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

$paper-sizes: (
  "A3":            ("width": 297, "height": 420, "adjust": -0.88),
  "A4":            ("width": 210, "height": 297, "adjust": -0.88),
  "A5":            ("width": 148, "height": 210, "adjust": -0.88),
  "card-european": ("width":  55, "height":  85, "adjust": -0.25),
  "legal":         ("width": 216, "height": 356, "adjust": -0.88),
  "letter":        ("width": 216, "height": 279, "adjust": -0.88)
);

$paddings: 5, 10, 15, 20, 25;

/** ------------------------------------------------------------------------ **/
/** Common **/
/** ------------------------------------------------------------------------ **/

@page { margin: 0 }
body { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

@media screen {
  body { background: #e0e0e0 }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

@media print {
  .sheet {
    page-break-after: auto;
  }
  .no-print { display: none; }
}

/** ------------------------------------------------------------------------ **/
/** Debugging frame (pace a <div class="debug"></div> inside a .sheet) **/
/** ------------------------------------------------------------------------ **/

body .sheet .debug {
  outline: 1px solid red;
  outline-offset: -1px;
  position: absolute;
  margin: auto;
  top: 0mm;
  left: 0mm;
}

/** ------------------------------------------------------------------------ **/
/** Padding **/
/** ------------------------------------------------------------------------ **/

@each $padding in $paddings {
  .sheet.padding-#{$padding}mm  { padding: #{$padding}mm; }
}

/** ------------------------------------------------------------------------ **/
/** Paper sizes **/
/** ------------------------------------------------------------------------ **/

@each $name, $sizes in $paper-sizes {
  /** #{$name} **/

  body.#{$name}           .sheet, body.#{$name}           .sheet .debug {
    width: #{map.get($sizes, "width")}mm;
  }
  body.#{$name}.landscape .sheet, body.#{$name}.landscape .sheet .debug {
    width: #{map.get($sizes, "height")}mm;
  }

  @media screen {
    body.#{$name}.strict           .sheet, body.#{$name}           .sheet .debug {
      height: #{map.get($sizes, "height") + map.get($sizes, "adjust")}mm;
    }
    body.#{$name}.strict.landscape .sheet, body.#{$name}.landscape .sheet .debug {
      height: #{map.get($sizes, "width") + map.get($sizes, "adjust")}mm;
    }

    body.#{$name}.lax           .sheet {
      min-height: #{map.get($sizes, "height") + map.get($sizes, "adjust")}mm;
      height: auto;
    }
    body.#{$name}.lax.landscape .sheet {
      min-height: #{map.get($sizes, "width") + map.get($sizes, "adjust")}mm;
      height: auto;
    }
  }

  @media print {
    body.#{$name}           .sheet, body.#{$name}           .sheet .debug {
      height: #{map.get($sizes, "height") + map.get($sizes, "adjust")}mm;
    }
    body.#{$name}.landscape .sheet, body.#{$name}.landscape .sheet .debug {
      height: #{map.get($sizes, "width") + map.get($sizes, "adjust")}mm;
    }
  }
}
