/** ------------------------------------------------------------------------ **/
/** Common **/
/** ------------------------------------------------------------------------ **/
@page {
  margin: 0;
}
body {
  margin: 0;
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

@media screen {
  body {
    background: #e0e0e0;
  }

  .sheet {
    background: white;
    box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, 0.3);
    margin: 5mm auto;
  }
}
@media print {
  .sheet {
    page-break-after: auto;
  }

  .no-print {
    display: none;
  }
}
/** ------------------------------------------------------------------------ **/
/** Debugging frame (pace a <div class="debug"></div> inside a .sheet) **/
/** ------------------------------------------------------------------------ **/
body .sheet .debug {
  outline: 1px solid red;
  outline-offset: -1px;
  position: absolute;
  margin: auto;
  top: 0mm;
  left: 0mm;
}

/** ------------------------------------------------------------------------ **/
/** Padding **/
/** ------------------------------------------------------------------------ **/
.sheet.padding-5mm {
  padding: 5mm;
}

.sheet.padding-10mm {
  padding: 10mm;
}

.sheet.padding-15mm {
  padding: 15mm;
}

.sheet.padding-20mm {
  padding: 20mm;
}

.sheet.padding-25mm {
  padding: 25mm;
}

/** ------------------------------------------------------------------------ **/
/** Paper sizes **/
/** ------------------------------------------------------------------------ **/
/** A3 **/
body.A3 .sheet, body.A3 .sheet .debug {
  width: 297mm;
}

body.A3.landscape .sheet, body.A3.landscape .sheet .debug {
  width: 420mm;
}

@media screen {
  body.A3.strict .sheet, body.A3 .sheet .debug {
    height: 419.12mm;
  }

  body.A3.strict.landscape .sheet, body.A3.landscape .sheet .debug {
    height: 296.12mm;
  }

  body.A3.lax .sheet {
    min-height: 419.12mm;
    height: auto;
  }

  body.A3.lax.landscape .sheet {
    min-height: 296.12mm;
    height: auto;
  }
}
@media print {
  body.A3 .sheet, body.A3 .sheet .debug {
    height: 419.12mm;
  }

  body.A3.landscape .sheet, body.A3.landscape .sheet .debug {
    height: 296.12mm;
  }
}
/** A4 **/
body.A4 .sheet, body.A4 .sheet .debug {
  width: 210mm;
}

body.A4.landscape .sheet, body.A4.landscape .sheet .debug {
  width: 297mm;
}

@media screen {
  body.A4.strict .sheet, body.A4 .sheet .debug {
    height: 296.12mm;
  }

  body.A4.strict.landscape .sheet, body.A4.landscape .sheet .debug {
    height: 209.12mm;
  }

  body.A4.lax .sheet {
    min-height: 296.12mm;
    height: auto;
  }

  body.A4.lax.landscape .sheet {
    min-height: 209.12mm;
    height: auto;
  }
}
@media print {
  body.A4 .sheet, body.A4 .sheet .debug {
    height: 296.12mm;
  }

  body.A4.landscape .sheet, body.A4.landscape .sheet .debug {
    height: 209.12mm;
  }
}
/** A5 **/
body.A5 .sheet, body.A5 .sheet .debug {
  width: 148mm;
}

body.A5.landscape .sheet, body.A5.landscape .sheet .debug {
  width: 210mm;
}

@media screen {
  body.A5.strict .sheet, body.A5 .sheet .debug {
    height: 209.12mm;
  }

  body.A5.strict.landscape .sheet, body.A5.landscape .sheet .debug {
    height: 147.12mm;
  }

  body.A5.lax .sheet {
    min-height: 209.12mm;
    height: auto;
  }

  body.A5.lax.landscape .sheet {
    min-height: 147.12mm;
    height: auto;
  }
}
@media print {
  body.A5 .sheet, body.A5 .sheet .debug {
    height: 209.12mm;
  }

  body.A5.landscape .sheet, body.A5.landscape .sheet .debug {
    height: 147.12mm;
  }
}
/** card-european **/
body.card-european .sheet, body.card-european .sheet .debug {
  width: 55mm;
}

body.card-european.landscape .sheet, body.card-european.landscape .sheet .debug {
  width: 85mm;
}

@media screen {
  body.card-european.strict .sheet, body.card-european .sheet .debug {
    height: 84.75mm;
  }

  body.card-european.strict.landscape .sheet, body.card-european.landscape .sheet .debug {
    height: 54.75mm;
  }

  body.card-european.lax .sheet {
    min-height: 84.75mm;
    height: auto;
  }

  body.card-european.lax.landscape .sheet {
    min-height: 54.75mm;
    height: auto;
  }
}
@media print {
  body.card-european .sheet, body.card-european .sheet .debug {
    height: 84.75mm;
  }

  body.card-european.landscape .sheet, body.card-european.landscape .sheet .debug {
    height: 54.75mm;
  }
}
/** legal **/
body.legal .sheet, body.legal .sheet .debug {
  width: 216mm;
}

body.legal.landscape .sheet, body.legal.landscape .sheet .debug {
  width: 356mm;
}

@media screen {
  body.legal.strict .sheet, body.legal .sheet .debug {
    height: 355.12mm;
  }

  body.legal.strict.landscape .sheet, body.legal.landscape .sheet .debug {
    height: 215.12mm;
  }

  body.legal.lax .sheet {
    min-height: 355.12mm;
    height: auto;
  }

  body.legal.lax.landscape .sheet {
    min-height: 215.12mm;
    height: auto;
  }
}
@media print {
  body.legal .sheet, body.legal .sheet .debug {
    height: 355.12mm;
  }

  body.legal.landscape .sheet, body.legal.landscape .sheet .debug {
    height: 215.12mm;
  }
}
/** letter **/
body.letter .sheet, body.letter .sheet .debug {
  width: 216mm;
}

body.letter.landscape .sheet, body.letter.landscape .sheet .debug {
  width: 279mm;
}

@media screen {
  body.letter.strict .sheet, body.letter .sheet .debug {
    height: 278.12mm;
  }

  body.letter.strict.landscape .sheet, body.letter.landscape .sheet .debug {
    height: 215.12mm;
  }

  body.letter.lax .sheet {
    min-height: 278.12mm;
    height: auto;
  }

  body.letter.lax.landscape .sheet {
    min-height: 215.12mm;
    height: auto;
  }
}
@media print {
  body.letter .sheet, body.letter .sheet .debug {
    height: 278.12mm;
  }

  body.letter.landscape .sheet, body.letter.landscape .sheet .debug {
    height: 215.12mm;
  }
}

/*# sourceMappingURL=true-paper.css.map */
